@import '/src/common/assets/scss/variables.scss';

.landing {
  width: 100%;
  min-height: calc(100vh - #{$header-height});
  text-align: center;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  background-color: $light-gray-color;

  &__banner {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  & img {
    width: 80%;
    max-width: 400px;
    // user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  &__search {
    color: #fff;
    width: 80%;
    max-width: 400px;
    height: 40px;
    border-radius: $input-btn-radius;
    outline: none;
    border: 1px solid $fuchsia-blue-color;
    margin: 10px auto;
    cursor: pointer;
    background-color: $fuchsia-blue-color;

    &:hover {
      background-color: $fuchsia-blue-color-hover;
    }
  }
}
