// dimensions
$header-height: 60px;
$container: 1100px;
// colors
$fuchsia-blue-color: rgb(126, 87, 194);
$fuchsia-blue-color-hover: rgb(103, 48, 197);
$light-gray-color: rgb(248, 248, 250);
$light-gray-color-hover: rgb(230, 230, 238);
$font-color: rgb(54, 49, 69);
$disabled-color: rgba(0, 0, 0, 0.12);
$disabled-font-color: rgba(0, 0, 0, 0.3);
$yellow-color: rgb(224, 190, 16);
$white-color: #fff;
